.contain{
    padding: 0 $space-large;
    margin: 0 auto;

    &--large{
        max-width: $space-maxW;
        padding: 0;
    }

    &--medium{
        max-width: $space-maxW-medium;
        @include media(">m") {
            padding: 0 $space-xlarge;
        }
    }

    &--small{
        max-width: $space-maxW-small;
        @include media(">m") {
            padding: 0 $space-xxlarge;
        }
    }

}