footer
    .contain.contain--large
        .footer__content
            ul
                li
                    a(href="/") Kontakt
                li
                    a(href="/") Impressum
                li
                    a(href="/") Datenschutz
            p © Montessori Schule Bamberg / All rights reserved 
        
        .animatefooter 
            .footer__bg-bubbles
                span 
                span
