$c-primary:  #11408c;
$c-primary-dark:  #11408c;
$c-sekundar: #5879ae;
$c-sekundar-dark: #5879ae;
$c-light: #a0b3d1;
$c-light-dark: #a0b3d1;

$c-white: #fff;
$c-black: #000;
$c-gray-0: #fcfcfc;
$c-gray-1: #f6f6f6;
$c-gray-2: #f3f3f3;
$c-gray-3: #dedfe0;
$c-gray-4: #d4d4d5;
$c-gray-5: #b4b4b4;
$c-gray-6: #747577;
$c-gray-7: #595959;
$c-gray-8: #363535;
$c-gray-9: #222;