$space_xxxsmall: .1rem;
$space-xxsmall: .125rem;
$space_xsmall: .25rem;
$space-xsmall: .25rem;
$space_small: .5rem;
$space-small: .5rem;
$space_medium: 1rem;
$space-medium: 1rem;
$space_xmedium: 1.5rem;
$space-xmedium: 1.5rem;
$space_large: 2rem;
$space-large: 2rem;
$space_xlarge: 3rem;
$space-xlarge: 3rem;
$space-xxlarge: 4rem;
$space-xxxlarge: 5rem;
$space-xxxxlarge: 6rem;

$space-maxW: 70em;
$space-maxW-medium: 64em;
$space-maxW-small: 58em;